/* -- GENERAL -- */

body{
    font-family: 'Ubuntu Mono', monospace;
    background-color: rgb(44, 44, 49);
}
header{
    position: fixed;
    left: 7%;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid white;
}
main{
    position: absolute;
    left: 7%;
    top: 10px;
}
footer{
    height: 50px;
    width: 100%;
    position: fixed;
    left: 7%;
    top: 93%;
    z-index: 99;
    border-top: 1px solid white;
}

/* -- HEADER -- */

.divider{
    height: 10px;
}
#logo{
    position: absolute;
    top: 9px;
    left: 8px;
    width: 100px;
}
.navbar{
    height: 45px;
}
.dropdown-item{
    color: white;
}
.collapse{
    position: absolute;
    left: 120px;
}

/* ICONS */
i{
    color: white;
}
#discord{
    width: 20px;
}
#discord:hover{
    color: rgb(109, 63, 122);
    transition: 0.5s;
}
#twitter:hover{
    color: rgb(0, 124, 128);
    transition: 0.5s;
}

/* -- CONTAINER -- */

.bg1{
    height: 1000px;
    background-color: rgb(24, 24, 27);
}
.bg2{
    background-color: rgb(28, 28, 32);
}
.cards{
    position: absolute;
    top: 50px;
    left: 10%;
}

/* -- TWITTER -- */

.twitter{
    position: fixed;
    left: 897px;
    max-height: 650px;
    overflow-y: scroll;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px){
    header{
        left: 0;
    }
    main{
        top: 0;
    }
    #logo{
        max-width: 70px;
        left: 3%;
    }
    .twitter{
        display: none;
    }
    .navbar-toggler{
        position: absolute;
        left: 82%;
        top: 5px;
    }
    .navbar-nav{
        position: absolute;
        left: 20%;
        top: ;
    }
}